1,Erkki Apina
2,Hans Munakeidas
3,John Smith
4,Marin Suopursu
5,Kuurankurvaus
6,Järnäs Joplin
7,Kristal Aria
8,Marvertti
9,Krislina
10,Tuurin Helmi
11,A.K. Wiktor
12,Kuuraparta
13,Kairan Kukka
14,Kojamo
15,Hillamestari
16,Kairan Karski
