1,Erkki Apina,M
2,Hans Munakeidas,l33t
3,John Smith,F
4,Marin Suopursu,F
5,Kuurankurvaus,X
6,Järnäs Joplin,M
7,Kristal Aria,X
8,Marvertti,X
9,Krislina,l33t
10,Tuurin Helmi,M
11,A.K. Wiktor,F
12,Kuuraparta,F
13,Kairan Kukka,M
14,Kojamo,X
15,Hillamestari,l33t
16,Kairan Karski,l33t
